@model ShiYiJiShu.Models.HomeModel
@{
    ViewBag.Title = "";
    ViewBag.Keyword = System.Configuration.ConfigurationManager.AppSettings["Keywords"].ToString();
    ViewBag.Description = System.Configuration.ConfigurationManager.AppSettings["Description"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="mt15"><a href="/Info/141" target="_blank"><img src="~/Images/adv01.jpg" /></a></div>

<div class="topnews mt15">
    <div class="bigtitle">
        @if (Model.ZuiXinDongTai != null && Model.ZuiXinDongTai.Count > 0)
        {
            <a href="/News/Detail/@Model.ZuiXinDongTai.FirstOrDefault().NewsID" target="_blank">
                @Model.ZuiXinDongTai.FirstOrDefault().NewsTitle
            </a>
        }
    </div>
    <div class="smalltitle">
        @if (Model.ZuiXinDongTai != null && Model.ZuiXinDongTai.Count > 1)
        {
            foreach (var news in Model.ZuiXinDongTai.Skip(1).Take(3))
            {
                <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a> @Html.Raw(" | ")
            }
        }
    </div>
    <div class="clear"></div>
</div> 



<div class="mt15" >
    <div class="idx-focus" id="j_idx_focus" monkey="idxfocus">
        <div class="idx-foc-tmp">
            <ul class="focus-pic" rel="xtaberItems">
                @foreach (var news in Model.FocusPicList)
                {
                    <li class="xtaber-item" >
                        <a href="/News/Detail/@news.NewsID" title="@news.NewsTitle" target="_blank" class="white">
                            <img src="/UploadPic/@news.NewsPic" width="568" height="336" alt="" />
                            <span class="txt">@news.NewsTitle</span><i class="bg"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <ul rel="xtaberTabs" class="xtaber-tabs">
            @foreach (var news in Model.FocusPicList)
            {
                <li rel="xtaberTabItem" class="current">
                    <a href="/News/Detail/@news.NewsID" title="@news.NewsTitle" target="_blank">
                        <img src="/UploadPic/@news.NewsPic" width="108" height="86" alt="" />
                        <i></i>
                    </a>
                </li>
            }

        </ul>
        <a href="javascript:;" class="btn-prev"></a> <a href="javascript:;" class="btn-next"></a>
    </div>

    <div class="about">
        <div class="titlebg"><h2>新闻中心</h2> <a href="/List/21">更多</a> </div>

        <div class="detailnews">

            @if (Model.WoHuiDongTai != null && Model.WoHuiDongTai.Count > 0)
            {
                var news = Model.WoHuiDongTai.FirstOrDefault();
                <div class="title"><a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a> </div>
                var content = System.Text.RegularExpressions.Regex.Replace(news.NewsContent, "<[^>]*>|&nbsp;", "");
                <div class="detail">@if(content.Length > 65){ @content.Substring(0, 65) } else { @content  }...</div>
            } 
        </div>

        <div class="list">
            <ul>
                @if (Model.WoHuiDongTai != null && Model.WoHuiDongTai.Count > 1)
                {
                    foreach (var news in Model.WoHuiDongTai.Skip(1).Take(10))
                    {
                        <li><span class="title">- <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a></span> <span class="date">@Convert.ToDateTime(news.CreateDate).ToString("MM-dd")</span></li>
                    }
                }
               
            </ul>
        </div>
    </div> 
</div>

<div class="clear"></div>

<div class="gonggao mt15">
    <div class="titlebg2"><h2>通知公告</h2> <a href="/List/3">更多>></a></div>
    <div class="list">
        <ul>
            @foreach (var news in Model.TongZhiGongGao)
            {
                <li><span class="title">- <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a></span> <span class="date">@Convert.ToDateTime(news.CreateDate).ToString("MM-dd")</span></li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!--专家风采-->
<div class="fengcai mt15" id="fengcai">
    <div class="titlebg"><h2>专家委员会</h2> <a href="/Doctor/Index/0">更多</a> </div>
   
    <div class="box">
        <ul class="list">

            @foreach (var doctor in Model.DoctorList)
            {
                <li>
                    <div class="container">
                        <a href="/Doctor/Detail/@doctor.DoctorID" target="_blank"><img src="/UploadPic/@doctor.DoctorPic" width="115" height="150" /></a>
                        <p class="zname"><a href="/Doctor/Detail/@doctor.DoctorID" target="_blank">@doctor.DoctorName</a></p>
                    </div>
                </li>
            }
           
            
        </ul>
    </div>

    <div class="clear"></div>
</div>

<script src="/Scripts/jquery.cxscroll.js"></script>
<script>
    $('#fengcai').cxScroll({
        speed: 500,
        time: 1500,
        plus: false,
        minus: false
    });
</script>



<div class="mt15">
    <div class="titlebg"><h2>网络投票</h2> <a href="/Vote/List/174">更多</a> </div>

    <div class="votestaff">
        <ul>
            @foreach (var staff in Model.WangLuoTouPiao)
            {
                <li>
                    <div class="container">
                        @if (staff.StaffPhoto == null || staff.StaffPhoto == "")
                        {
                            @*<img src="~/Images/projectbg.png" width="280" height="200" />*@
                        }
                        else
                        {
                            <a href="@staff.LinkUrl" target="_blank"><img src="@System.Configuration.ConfigurationManager.AppSettings["DomainName"].ToString()/UploadPic/@staff.StaffPhoto" width="170" height="130" title="@staff.TechName" /></a>
                        }
                        
                        <div class="countpanel" onclick="addvote('@staff.StaffID', '174')">
                            <div class="btnadd" ></div>
                            <div class="lbcount" id="btn_@staff.StaffID" value="@staff.VoteCount">@staff.VoteCount</div>
                        </div>

                    </div>
                </li>
            }
 
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="clear"></div>

<div class="mt15">
    <div class="titlebg"><h2>项目展示</h2> <a href="/Project/List/0">更多</a> </div>

    <div class="projectlist">
        <ul>
            @foreach (var project in Model.ProjectList)
            {
                <li>
                    <a href="/Project/Detail/@project.ProjectID" title="@project.ProjectName" target="_blank">
                        <img src="~/UploadPic/@project.ProjectPic" width="160" height="110" />
                    </a>
                    <p class="vname"><a href="/Project/Detail/@project.ProjectID" title="@project.ProjectName" target="_blank">@project.ProjectName</a></p>
                </li>
            }
        </ul>
    </div>
</div>

<div class="mt15">
    <div class="col-1-3">
        <div class="titlebg"><h2>学术动态</h2> <a href="/List/4">更多</a> </div>
        <div class="picnews">
            @if (Model.XueShuDongTai_Pic != null)
            {
                <div class="pic"><a href="/News/Detail/@Model.XueShuDongTai_Pic.NewsID" title="@Model.XueShuDongTai_Pic.NewsTitle" target="_blank"><img src="~/UploadPic/@Model.XueShuDongTai_Pic.NewsPic" alt="" width="120" height="80" /></a></div>
                <div class="title"><a href="/News/Detail/@Model.XueShuDongTai_Pic.NewsID" title="@Model.XueShuDongTai_Pic.NewsTitle" target="_blank">@Model.XueShuDongTai_Pic.NewsTitle</a></div>
            }
            
        </div>

        <div class="list">
            <ul>
                @foreach (var news in Model.XueShuDongTai)
                {
                    <li><span class="title">- <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a></span> <span class="date">@Convert.ToDateTime(news.CreateDate).ToString("MM-dd")</span></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-1-3 ml15">
        <div class="titlebg"><h2>共建基地</h2> <a href="/JiDi/List/0">更多</a> </div>

        <div class="picnews">
        @if (Model.JiDiJianShe_Pic != null)
        {
            <div class="pic"><a href="/JiDi/Detail/@Model.JiDiJianShe_Pic.JiDiId" title="@Model.JiDiJianShe_Pic.JiDiName" target="_blank"><img src="~/UploadPic/@Model.JiDiJianShe_Pic.JiDiPic" alt="" width="120" height="80" /></a></div>
            <div class="title"><a href="/JiDi/Detail/@Model.JiDiJianShe_Pic.JiDiId" title="@Model.JiDiJianShe_Pic.JiDiName" target="_blank">@Model.JiDiJianShe_Pic.JiDiName</a></div>
        }
        </div>

        <div class="list">
            <ul>
                @foreach (var jidi in Model.JiDiJianShe)
                {
                    <li><span class="title">- <a href="/JiDi/Detail/@jidi.JiDiId" target="_blank">@jidi.JiDiName</a></span> <span class="date">@Convert.ToDateTime(jidi.AddDateTime).ToString("MM-dd")</span></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-1-3 ml15">
        <div class="titlebg"><h2>入选项目</h2> <a href="/SelectProject/List/0">更多</a> </div>

        <div class="picnews">
        @if (Model.RuXuanXiangMu_Pic != null)
        {
            <div class="pic"><a href="@Model.RuXuanXiangMu_Pic.ProjectLink" title="@Model.RuXuanXiangMu_Pic.ProjectName" target="_blank"><img src="~/UploadPic/@Model.RuXuanXiangMu_Pic.ProjectPic" alt="" width="120" height="80" /></a></div>
            <div class="title"><a href="@Model.RuXuanXiangMu_Pic.ProjectLink" title="@Model.RuXuanXiangMu_Pic.ProjectName" target="_blank">@Model.RuXuanXiangMu_Pic.ProjectName</a></div>
        }
        </div>

        <div class="list">
            <ul>
                @foreach (var news in Model.RuXuanXiangMu)
                {
                    <li><span class="title">- <a href="@news.ProjectLink" target="_blank">@news.ProjectName</a></span> <span class="date">@Convert.ToDateTime(news.AddDateTime).ToString("MM-dd")</span></li>
                }
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="mt15">
    <img src="~/Images/shiyi_16.jpg" />
</div>

<div class="mt15">
    <div class="col-1-3">
        <div class="titlebg"><h2>证书查询</h2> <a href="/CertSearch/">更多</a> </div>
         
        <div class="query">
            <table class="tbQuery">
                <tr>
                    <td class="left">姓 &nbsp; &nbsp; &nbsp;名：</td>
                    <td><input type="text" class="txtbox" id="txtName" /></td>
                </tr>
                <tr>
                    <td class="left">证书编号：</td>
                    <td><input type="text" class="txtbox" id="txtCertNo" /></td>
                </tr>
                <tr>
                    <td class="left">验 &nbsp;证 &nbsp;码：</td>
                    <td><input type="text" class="txtbox2" id="txtCode" /> <input type="button" id="code" /> </td>
                </tr>

                <tr>
                    <td colspan="2" class="btn"> <input type="button" class="btnSubmit" value="查询" onclick="CertSearch()"></td>
                </tr>
            </table>

          <script type="text/javascript">
            function CertSearch() {
                var defaultText = "请输入证书编号";

                var name = $("#txtName").val().trim();
                var certNo = $("#txtCertNo").val().trim();

                if ($("#txtName").val() == "") {
                    alert("请输入姓名");
                    $("#txtName").focus();
                    return;
                }

 
                if ($("#txtCertNo").val() == "") {
                    alert("请输入证书编号");
                    $("#txtCertNo").focus();
                    return;
                }

                var inputCode = $("#txtCode").val().toUpperCase(); //取得输入的验证码并转化为大写 
               
                if (inputCode.length == 0) //若输入的验证码长度为0
                {
                    alert("请输入验证码！"); //则弹出请输入验证码
                }
                else if (inputCode != codes.toUpperCase()) //若输入的验证码与产生的验证码不一致时
                { 
                    alert("验证码输入错误！请重新输入"); //则弹出验证码输入错误
                    change();//刷新验证码
                    $("#txtCode").val("");//清空文本框
                }
                else //输入正确时
                {
                    location.href = "/CertSearch/Result/?Name=" + name + "&CertNo=" + certNo;
                }  
            }

            function change() {
                code = $("#code");
                // 验证码组成库
                var arrays = new Array(
                    '1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
                    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
                    'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
                    'u', 'v', 'w', 'x', 'y', 'z',
                    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
                    'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
                    'U', 'V', 'W', 'X', 'Y', 'Z'
                    );
                codes = '';// 重新初始化验证码
                for (var i = 0; i < 4; i++) {
                    // 随机获取一个数组的下标
                    var r = parseInt(Math.random() * arrays.length);
                    codes += arrays[r];
                }
                // 验证码添加到input里
                code.val(codes);
            }

            change();
            code.click(change);

            //单击验证
            $("#check").click(function () {
               
            });

            </script>

        </div>
         
    </div>
    <div class="col-1-3 ml15">
        <div class="titlebg"><h2>政策法规</h2> <a href="/List/8">更多</a> </div>

      
        <div class="list">
            <ul>
                @foreach (var news in Model.ZhengCeFaGui)
                {
                    <li><span class="title">- <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a></span> <span class="date">@Convert.ToDateTime(news.CreateDate).ToString("MM-dd")</span></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-1-3 ml15">
        <div class="titlebg"><h2>会员中心</h2> <a href="/List/135">更多</a> </div>
 

        <div class="list">
            <ul>
                @foreach (var news in Model.HuiYuanZhongXin)
                {
                    <li><span class="title">- <a href="/News/Detail/@news.NewsID" target="_blank">@news.NewsTitle</a></span> <span class="date">@Convert.ToDateTime(news.CreateDate).ToString("MM-dd")</span></li>
                }
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="mt15">
    <div class="titlebg"><h2>视频中心</h2> <a href="/Video/List/0">更多</a> </div>

    <div class="videolist">
        <ul>
            @foreach (var video in Model.ShiPinZhongXin)
            {
                <li>
                    <a href="/Video/Detail/@video.VideoID" title="@video.VideoName" target="_blank">
                        <img src="~/UploadPic/@video.VideoFilePath" width="160" height="110" />
                        @*<span class="playicon"><img src="~/images/play-icon.png" /></span>*@
                    </a>
                    <p class="vname"><a href="/Video/Detail/@video.VideoID" title="@video.VideoName" target="_blank">@video.VideoName</a></p>
                </li>
            } 
        </ul>
    </div>
</div>

<div class="mt15">
    <div class="titlebg"><h2>友情链接</h2> </div>

    <div class="friendLink">
         
            @foreach (var link in Model.FriendLinks)
            {
                <a href="@link.LinkUrl" target="_blank">@link.LinkName</a> 
            }
         
    </div>
</div>
