@model ShiYiJiShu.Models.DownloadFileModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt15">
    <div class="left">
        @Html.Partial("_LeftMenuPartial")
    </div>

    <div class="mainRight">
        <div class="list">
            <div class="titlebg2"><h2>文件下载</h2> <a href="#"> </a></div>
            <ul>
                @foreach (var downloadFile in Model.downloadFileList)
                {
                    <li><span class="tt"><a href="~/News/@downloadFile.FilePath" title="@downloadFile.FileName">@downloadFile.FileName</a> </span><span class="date">@Convert.ToDateTime(downloadFile.AddDatetime).ToString("yyyy-MM-dd")</span></li>
                }
            </ul>

            <div class="pagelink">@Html.Raw(Model.PageLink)</div>
        </div>


    </div>
    <div class="clear"></div>
</div>

