@model ShiYiJiShu.Models.ProjectListModel
@{
    ViewBag.Title = "VideoList";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="content">
    <div class="titlebg"><h2>@Model.TopClassName</h2> <span onclick="openmenu()"><img src="~/Images/mobile/category.png" width="25" /></span></div>

    @Html.Action("GetNewsMenuPartial", "News", new { topClassID = Model.TopClassID, currentClassID = Model.ClassID, routeName = "Project/List" })

    <div class="projects">
        <div class="bui-fluid-space">
            @foreach (var pro in Model.ProjectList)
            {
                <div class="span6">
                    <a href="~/Project/Detail/@pro.ProjectID"><img src="@System.Configuration.ConfigurationManager.AppSettings["DomainName"].ToString()/UploadPic/@pro.ProjectPic"  width="180" height="130"/></a>
                    <div class="proname">
                        <a href="~/Project/Detail/@pro.ProjectID">@pro.ProjectName</a>
                    </div>

                    <div class="clear"></div>
                </div>
            }
        </div>
 
        <div class="pagelink">@Html.Raw(Model.PageLink)</div>
    </div>
</div>

